@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.carousel-track {
  animation: scroll 7s linear infinite;
  will-change: transform;
}

.carousel-wrapper img {
  backface-visibility: hidden;
  transform: translateZ(0);
}
