@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.carousel-track {
  animation: scroll 100s linear infinite;
  /* increase time to match speed */
  width: max-content;
}

.carousel-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.carousel-wrapper img {
  backface-visibility: hidden;
  transform: translateZ(0);
}
